// background & text
$white: #FFFFFF;

// background
$clearBlue: #38AEF0;
$darkCyanBlue: #253141;
$middleCyanBlue: #2f3e51;
$lightGray_d: #DDDDDD;
$paleGray: #FAFAFA;
$alert_orange: #F35500;

// text
$darkGray: #333333;
$middleGray: #999999;
$darkBlue: #434A54;

// border
$lightGray_e: #eeeeee;
