.sidebar{
  color: $white;
  .header{
    height: $headerHeight;
    background-color: $darkCyanBlue;
    padding: 0 20px;
    line-height: $headerHeight;
    .name{
      font-size: $side_header_font;
      font-weight: bold;
      display: inline-block;
    }
    .nav{
      display: inline-block;
      float: right;
      &__list{
        display: inline-block;
        .icon{
          color: $white;
          font-size: $side_header_font;
        }
      }
    }
  }
  .contents{
    background-color: $middleCyanBlue;
    height: $sidebarContentsHeight;
    padding: 0 20px;
    .group{
      box-sizing: border-box;
      padding: 20px 0 40px;
      &__name{
        font-size: $side_group_name;
        color: $white;
      }
      &__message{
        margin-top: 5px;
        font-size: $side_group_message;
        color: $white;
      }
    }
  }
}
